header {
  padding: 10px 0 12px;
  background: white;
  width: 100%;
  z-index: 10;
  @include transition(all 0.2s ease-in-out);
  position: fixed;
  top: 0;
  border-bottom: 2px solid $c-darkblue;

  &:after {
    content:'';
    background: $c-darkblue;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 48px;
  }

  &.open {
    border-bottom: 2px solid $c-darkblue;

    .menu-burger {
      span {
        &:nth-child(1), &:nth-child(6) {
          @include transform(rotate(45deg));
        }

        &:nth-child(2), &:nth-child(5) {
          @include transform(rotate(-45deg));
        }

        &:nth-child(1) {
          left: 5px;
          top: 4px;
        }

        &:nth-child(2) {
          left: calc(50% - 5px);
          top: 4px;
        }

        &:nth-child(3) {
          left: -50%;
          opacity: 0;
          background: $c-lightblue;
        }

        &:nth-child(4) {
          left: 100%;
          opacity: 0;
          background: $c-lightblue;
        }

        &:nth-child(5) {
          left: 5px;
          top: 9px;
        }

        &:nth-child(6) {
          left: calc(50% - 5px);
          top: 9px;
        }
      }
    }
  }

  .menu-burger {
    vertical-align: middle;
    width: 30px;
    height: 16px;
    @include transform(rotate(0deg));
    @include transition(all 0.3s ease-in-out)
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 40px;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 50%;
      background: $c-blue;
      opacity: 1;
      @include transform(rotate(0deg));
      @include transition(all 0.3s ease-in-out);

      &:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }

      &:nth-child(odd) {
        left:0px;
        border-radius: 9px 0 0 9px;
      }

      &:nth-child(1), &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3), &:nth-child(4) {
        top: 7px;
      }

      &:nth-child(5), &:nth-child(6) {
        top: 14px;
      }
    }
  }

  .container {
    position: relative;
  }

  .e-logo {
    line-height: 0;

    a {
      border: none!important;
    }

    img {
      max-width: 30px;
      display: table;
      margin: 0 auto;
    }
  }

  .nav {
    margin-top: 25px;
    display: none;

    ul {
      margin: 0;
      font-size: 0;

      li {
        display: block;
        margin-bottom: 10px;

        a {
          @include font-size(2.2, 3.2);
          font-family: $title-font;
          display: block;
          text-align: center;
        }

        &:last-child {
          margin-right: 15px;
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    &:after {
      display: none;
    }

    .menu-burger {
      display: none;
    }

    .e-logo {
      img {
        max-width: 60px;
      }
    }

    .nav {
      display: inline-block!important;
      @include centre(y);
      right: 30px;
      margin-top: 4px;

      ul {
        li {
          margin-right: 50px;
          width: auto;
          display: inline-block;
          margin-bottom: 0;

          a {
            @include font-size(3.0, 4.0);
          }
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    .nav {
      ul {
        li {
          margin-right: 70px;
        }
      }
    }
  }
}
