@-ms-viewport {
	width: auto;
}

html, body {
	overflow-x: hidden;
	-ms-overflow-style: auto !important;
	font-size: 62.5%;
}

body {
	@include font-smoothing;
	font-family: $body-font;
	position: relative;
	overflow: hidden;
	margin-top: 51px;

	@media (min-width: $screen-md) {
		margin-top: 79px;
	}
}

img {
	max-width: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: $c-title;
	margin: 0 0 10px;
	font-family: $title-font;
	font-weight: 400;
}

h1, .h1 {
	@include font-size(5.0, 6.0);
}
h2, .h2 {
	@include font-size(4.0, 5.0);
}
h3, .h3 {
	@include font-size(3.0, 4.0);
}
h4, .h4 {
	@include font-size(2.5, 3.5);
}

p,
body,
ul li,
ol li {
	@include font-size(1.6, 2.6);
	color: $c-bodytext;
	font-family: $body-font;
}

p {
	margin: 0 0 15px;

	&.double-margin {
		margin-bottom: 30px;
	}

	&.preamble, .preamble {
		@include font-size(2.0, 3.0);
		@include font-smoothing;
	}

	strong {
		font-weight: 800;
	}
}

ol {
	margin: 15px 0 15px 17px;
}

ul {
	list-style:none;
	margin: 15px 0;
}

ol {
	list-style: decimal;
}

blockquote {
}

em {
	font-style: italic;
}

// MEDIA QUERIES
// -------------------------------
@media (min-width:$screen-sm){
	h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
		margin-bottom: 15px;
	}

	h1, .h1 {
		@include font-size(6.0, 7.0);
	}
	h2, .h2 {
		@include font-size(5.0, 6.0);
	}
	h3, .h3 {
		@include font-size(4.0, 5.0);
	}
	h4, .h4 {
		@include font-size(3.0, 4.0);
	}
}

@media (min-width:$screen-md){
	h1, .h1 {
		@include font-size(7.0, 8.0);
	}
	h2, .h2 {
		@include font-size(6.0, 7.0);
	}
	h3, .h3 {
		@include font-size(5.0, 6.0);
	}
	h4, .h4 {
		@include font-size(4.0, 5.0);
	}

	p,
	body,
	ul li,
	ol li {
		@include font-size(1.8, 3.0);
	}

	p {
		&.preamble, .preamble {
			@include font-size(2.5, 3.5);
			@include font-smoothing;
		}
	}
}
