.btn {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  display: inline-block;
  padding: 15px 30px;
  min-width: 150px;
  text-align: center;
  width: 170px;
  @include transition(all 0.4s ease-in-out);
  @include border-radius(5px);
  @include font-size(2.0, 2.0);
  max-width: 100%;

  &.btn-blue {
    border: 2px solid $c-blue;
    background: $c-blue;
    color: $c-white;

    &:hover {
      color: $c-blue;
      background: $c-white;
    }
  }
}

@media (min-width: $screen-md) {
  .btn {
    position: relative;
    z-index: 1;

    &:after {
      content:'';
      position: absolute;
      z-index: -1;
      width: 0;
      height: 100%;
      bottom:0;
      left:0;
      @include transition(all 0.4s ease-in-out);
    }

    &.btn-blue {
      &:after {
        background: $c-white;
      }

      &:hover {
        color: $c-blue;

        &:after {
          width: 100%;
        }
      }
    }
  }
}
