a, .link {
  text-decoration: none!important;
  color: $c-blue;
  border-bottom: 2px solid transparent;
  display: inline-block;
  position: relative;
  @include transition(all 0.2s ease-in-out);

  &:hover {
    border-bottom: 2px solid $c-blue;
  }
}
