@mixin blockmargin() {
  margin: 50px 0;

  @media (min-width: $screen-md) {
    margin: 80px 0;
  }
}

@mixin blockpadding() {
  padding: 50px 0;

  @media (min-width: $screen-md) {
    padding: 80px 0;
  }
}

@mixin smalltext() {
  text-transform: uppercase;
  letter-spacing: 2px;
  @include font-size(1.6, 2.6);
  font-weight: 600;
}

@mixin grid($xs, $sm, $md, $lg) {
  width: percentage($xs / 12);
  float: left;
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media (min-width: $screen-sm) {
    width: percentage($sm / 12);
  }

  @media (min-width: $screen-md) {
    width: percentage($md / 12);
  }

  @media (min-width: $screen-lg) {
    width: percentage($lg / 12);
  }
}

@mixin border-radius($radius) {
	border-radius:$radius;
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
	-ms-border-radius: $radius;
}

@mixin transition($property) {
	-webkit-transition: $property;
	-moz-transition: $property;
	-ms-transition: $property;
	-o-transition: $property;
	transition: $property;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin scale($scale) {
	@include transform(scale($scale));
}

@mixin rotate($rotate) {
	@include transform(rotate($rotate));
}

@mixin transform-origin($origin) {
	moz-transform-origin: $origin;
	-o-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}

@mixin centre($axis: "both") {
	position: absolute;
	@if $axis == "y" {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	@if $axis == "x" {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	@if $axis == "both" {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

@mixin webkitfix {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

@mixin fontawesome {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
	  color: $color;
	}

	&:-moz-placeholder { /* Firefox 18- */
	  color: $color;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	  color: $color;
	}

	&:-ms-input-placeholder {
	  color: $color;
	}
}

@mixin image-cover {
	position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin clearfix {
	&:after {
		content: '';
		height: 0;
		clear: both;
		display: block;
		visibility: hidden;
	}
}
