/*****
Reference to SMACSS - http://smacss.com/

NAMING CONVENTIONS:
c- : Color,
l- : Layout,
m- : Module,
f- : Form,
e- : Element,
*****/

//COLOURS
$c-title: #344b53;
$c-bodytext:#65665c;

$c-white: #ffffff;
$c-black: #000000;

$c-lightblue: #36697b;
$c-blue: #344b53;
$c-darkblue: #1e3946;

$c-lightgrey: #F3F3F2;

$c-errorred: #ff0808;

//breakpoints
$screen-xxs: 400px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1450px;

.container {
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $screen-sm) {
	.container {
		width: 687px;
	}
}

@media (min-width: $screen-md) {
	.container {
		width: 912px;
	}
}

@media (min-width: $screen-lg) {
	.container {
		width: 1120px;
	}
}

@media (min-width: $screen-xl) {
	.container {
		width: 1380px;
	}
}

@media (max-width: $screen-xxs){
	.col-xxs-12 {
		float: none;
		width: 100%;
	}
	.hidden-xxs {
		display: none!important;
	}
}
