.m-3col-prices {
  @include blockpadding;
  background: $c-lightblue;
  position: relative;
  overflow: hidden;

  &:before, &:after {
    content:'';
    background: $c-white;
    height: 60px;
    width: 120%;
    position: absolute;
    left: -30px;
    @include transform(rotate(-2deg));
  }

  &:before {
    top: -45px;
  }

  &:after {
    bottom: -35px;
  }

  .white {
    color: $c-white;
    text-align: center;
    margin-top: 50px;
  }

  h2 {
    text-align: center;
    color: $c-white;
  }

  .row {
    margin-top: 50px;

    .col {
      display: block;
      background: $c-white;
      @include border-radius(15px);
      padding: 25px 50px 35px;
      margin-bottom: 30px;

      .col-inner {
        h3 {
          text-align: center;
          border-bottom: 1px solid $c-blue;
          margin-bottom: 30px;
          padding-bottom: 15px
        }

        span {
          text-align: center;
          color: $c-blue;
          display: block;
          font-family: $title-font;
          @include font-size(3.0, 4.0);
          margin-bottom: 15px;

          .pricelarge {
            @include font-size(5.0, 6.0);
            font-family: $title-font;
            display: inline-block;
          }
        }

        p {
          text-align: center;
          margin-bottom: 30px;
        }

        .btn {
          display: table;
          margin: 0 auto;
          padding: 15px 0;
          width: 100%;
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    &:before {
      top: -35px;
    }

    &:after {
      bottom: -25px;
    }

    .row {
      display: flex;

      .col {
        flex-grow: 1;
        margin: 0 25px;
      }
    }
  }

  @media (min-width: $screen-xl) {
    padding: 120px 0;

    &:before, &:after {
      height: 80px;
    }

    &:before {
      top: -50px;
    }

    &:after {
      bottom:-40px;
    }
  }
}
