.m-5050cta {
  @include blockmargin();
  @include clearfix();

  .item-container {
    .item {
      @include grid(12, 6, 6, 6);
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        border: none;
        position: relative;
        overflow: hidden;

        &:hover {
          img {
            @include scale(1.5);
            @include transition(all 8s linear);
          }
        }

        p {
          @include centre(y);
          @include font-size(4.0, 4.0);
          font-family: $title-font;
          color: $c-white;
          background: rgba(0,0,0,0.4);
          width: 100%;
          text-align: center;
          padding: 5px 0 8px;
        }

        img {
          display: block;
          @include transition(all 2s linear);
          @include scale(1);
        }
      }
    }
  }

  @media (min-width: $screen-sm) {
    .item-container {
      margin: 0 -25px;

      .item {
        margin-bottom: 0;

        a {
          margin: 0 25px;
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    .item-container {
      margin: 0 -50px;

      .item {
        margin-bottom: 0;

        a {
          margin: 0 50px;
        }
      }
    }
  }
}
