.m-5050 {
  @include clearfix;
  @include blockmargin;

  .left, .right {
    @include grid(12, 6, 6, 6);
  }

  .innertext {
    .smalltext {
      @include smalltext();
      color: $c-lightblue;
      margin-top: -10px;
    }

    p {
      @include font-size(2.0, 3.0);
    }
  }

  @media (min-width: $screen-sm) {
    .right {
      .innertext {
        margin-left: 50px;
      }
    }

    .left {
      .innertext {
        margin-right: 50px;
      }
    }
  }

  @media (min-width: $screen-md) {
    .right {
      .innertext {
        margin-left: 70px;
      }
    }

    .left {
      .innertext {
        margin-right: 50px;
      }
    }
  }
}
