.m-BAcarousel {
  background: $c-lightblue;
  padding: 50px 0;
  overflow: hidden;

  .BAtext {
    display: table;
    margin: 0 auto;

    h2 {
      display: inline-block;
      color: $c-white;
    }
  }

  .slidecontainer {
    position: relative;

    .slick-dots {
      display: table;
      margin: 0 auto;

      li {
        display: inline-block;
        margin: 0 7.5px;
        width: 20px;
        visibility: hidden;

        &:after {
          content:'';
          width: 20px;
          height: 20px;
          background: $c-lightblue;
          visibility: visible;
          display: inline-block;
          @include border-radius(20px);
          border: 3px solid $c-white;
        }

        &.slick-active {
          &:after {
            background: $c-white;
          }
        }
      }
    }

    .slide {
      @include transition(all 0.6s ease-in-out);
      display: inline-block;
      padding: 25px;
      vertical-align: middle;
      outline: none!important;

      img {
        border: 10px solid $c-white;
      }
    }
  }

  @media (min-width: $screen-md) {
    padding: 80px 0;

    .slidecontainer {
      .nextarrow, .prevarrow {
        @include border-radius(40px);
        @include centre(both);
        z-index: 10;
        @include transition(all 0.2s ease-in-out);

        &.slick-disabled {
          opacity: 0;
        }

        &:after {
          font-family: FontAwesome;
          font-size: 80px;
          font-weight: 800;
          color: $c-white;
          display: inline-block;
          @include transition(all 0.2s ease-in-out);
        }

        &:hover {
          cursor: pointer;

          &:after {
            color: $c-lightblue;
          }
        }
      }

      .nextarrow {
        margin-left: 340px;

        &:after {
          content:"\f105";
        }
      }

      .prevarrow {
        margin-left: -340px;

        &:after {
          content:"\f104";
        }
      }

      .slide {
        width: 800px!important;
        padding: 80px 80px 0;

        &.slick-current {
          padding-top: 0;
        }

        img {
          display: table;
          margin: 0 auto;
        }
      }
    }
  }
}
