.m-banner {
  position: relative;
	overflow: hidden;
  min-height: 400px;

  img {
    @include image-cover();
    top: 0;
    height: 130%;
  }

  .fb {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 40px;
    font-family: $title-font;
    background: #3b5998;
    color: $c-white;
    border:2px solid #3b5998;
    @include transition(all 0.4s ease-in-out);

    &:hover {
      background: transparent;
      color: #3b5998;
    }
  }

  &.active {
    .bannertext {
      opacity: 1;
      margin-top: 0;
    }
  }

  img {
    display: block;
  }

  .bannertext {
    @include centre(both);
    opacity: 0;
    margin-top: 30px;
    margin-bottom: 0;
    @include transition(margin 0.8s ease-in-out);
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 10px 30px 20px;

    h1, h2, a {
      color: $c-white;
      text-align: center;
      display: block;
    }

    a {
      border-bottom: none;

      &:hover {
        color: $c-lightblue;
      }
    }

    h1 {
      @include font-size(2.0, 3.0);
    }
  }

  @media (min-width: $screen-md) {
    min-height: 500px;

    .bannertext {
      h2 {
        @include font-size(6.0, 7.0);
      }

      h1 {
        @include font-size(2.5, 3.5);
      }
    }
  }

  @media (min-width: $screen-xl) {
    min-height: 600px;
  }
}
