.m-callCTA {
  background: $c-lightblue;
  padding: 50px 0;
  border-bottom: 5px solid $c-white;
  text-align: center;

  h1, p, a {
    color: $c-white;
    margin: 0;
  }

  p {
    display: inline-block;
    @include font-size(2.0, 3.0);
  }

  h1 {
    color: $c-white;
    margin: 0;
    display: block;
    @include font-size(3.5, 4.5);
  }

  a {
    display: inline-block;
    @include font-size(3.0, 4.0);
    margin: 0 5px;
    letter-spacing: 1px;

    &:hover {
      border-bottom: 2px solid $c-white;
    }
  }

  @media (min-width: $screen-md) {
    h1 {
      display: inline-block;
      margin-right: 25px;
      @include font-size(6.0, 7.0);
    }

    p {
      @include font-size(3.0, 4.0);
    }

    a {
      @include font-size(5.0, 6.0);
    }
  }
}
