.m-featured {
  @include clearfix;

  .column {
    width: 1250px;
    display: table;
    margin: 50px auto 0;

    .e-item {
      display: inline-block;
      margin-bottom: 50px;

      &.scroll {
        opacity: 0;
        @include transition(all 0.6s ease-in-out);
        margin-top: 60px;
      }

      &.active {
        &.scroll {
          margin-top: 0;
          opacity: 1
        }
      }

      &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7) {
        margin-right: 50px;
      }

      &:nth-child(2), &:nth-child(3), &:nth-child(6) {
        transition-delay: 0.2s;
      }
    }
  }
}
