.m-homedesc {
  padding: 80px 0;
  text-align: center;

  h2, p, a {
    position: relative;
    z-index: 2;
  }


  h2 {
    margin-bottom: 25px;
    display: inline-block;
  }

  p {
    @include font-size(2.0, 3.0);
  }

  .btn-blue {
    margin: 15px 15px 0;
    display: inline-block;
  }
}
