.m-intro {
  text-align: center;
  @include blockmargin;

  .inner {
    p {
      @include font-size(2.0, 3.0);
    }

    h2 {
      margin-top: -10px;
    }

    .btn {
      margin: 15px 30px 0;
    }

    h2 {
      margin-bottom: 25px;
    }

    .tel {
      @include font-size(5.0, 6.0);
      font-weight: 800;
      color: $c-lightblue;
      margin-bottom: 15px;
      border-bottom: 5px solid transparent;

      &:hover {
        border-bottom: 5px solid $c-lightblue;
      }
    }
  }

  @media (min-width: $screen-sm) {
    .inner {
      max-width: 850px;
      display: table;
      margin: 0 auto;
    }
  }

  @media (min-width: $screen-md) {
    .inner {
      p {
        @include font-size(2.5, 3.5);
      }

      .tel {
        @include font-size(7.0, 8.0);
      }
    }
  }
}
