.m-prices {
  background: $c-darkblue;
  padding: 80px 0;
  text-align: center;

  h2, p {
    color: white;
  }

  h2 {
    @include font-size(7.0, 8.0);
    margin-bottom: 25px;
  }

  p {
    @include font-size(4.4, 5.4);

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $screen-lg) {
    padding: 120px 0;
  }
}
