.m-slimprices {
  background: $c-blue;
  padding: 15px 0;

  .pricecontainer {
    display: table;
    margin: 0 auto;

    div {
      display: block;
      margin-bottom: 20px;

      &:first-child {
        img {
          max-width: 33px;
        }
      }

      &:nth-child(2) {
        img {
          max-width: 50px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      p {
        color: $c-white;
        @include font-size(2.0, 3.0);
        margin: 0 0 0 15px;
      }

      img, p {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        max-width: 50px;
      }
    }
  }

  @media (min-width: $screen-sm) {
    .pricecontainer {
      div {
        display: inline-block;
        margin-right: 30px;
      }
    }
  }

  @media (min-width: $screen-md) {
    .pricecontainer {
      div {
        margin:0;

        &:nth-child(2) {
          margin: 0 45px;
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    .pricecontainer {
      div {
        &:nth-child(2) {
          margin: 0 120px;
        }
      }
    }
  }
}
